@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;      
  --foreground: #111827;        
  --muted-foreground: #6b7280;  
  --border: #d1d5db;           
  --card-background: #ffffff;  
  --input-background: #ffffff;  
}


.dark {
  --background: #000000;
  --foreground: #f9fafb;
  --muted-foreground: #9ca3af;
  --border: #000000;
  --card-background: #000000;
  --input-background: #1f2937;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] transition-colors duration-300;
  font-family: var(--font-geist-sans), Arial, sans-serif;
}

input, textarea {
  background-color: var(--input-background);
  color: var(--foreground);
  border: 1px solid var(--border);
}

input::placeholder,
textarea::placeholder {
  color: var(--muted-foreground);
}



